# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Django
*.log
db.sqlite3
/static/collected/

# Environnement
.env
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db